# Environment variables
.env
.env.local
.env*.local

# Dependencies
node_modules/
package-lock.json

# Build outputs
dist/
build/
.next/

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Prisma
cms-be/src/generated/
